<fieldset>
    <legend>{{title}}</legend>
        <div class="xs-col-4">

                <div class="form-group">
                    <label> <h1>pseudo</h1> </label>
                    <p>{{pseudo}}</p>
                </div>
                
                <div class="form-group">
                    <label><h1>description</h1></label>
                    <p>{{description}}</p>
                </div>

                <div class="form-group">
                    <label><h1>Emplacement</h1></label>
                    <p>{{location}}</p>
                </div>

                <div class="form-group">
                    <label><h1>Like</h1></label>
                    <p>{{like}}</p>
                </div>

                <div class="form-group">
                    <label><h1>commentaires</h1></label>
                    <p>{{comment}}</p>
                </div>

                <div class="form-group">
                    <label><h1>Date</h1></label>
                    <p>{{date}}</p>
                </div>
        </div>
</fieldset>