<button class="btn btn-primary" routerLink = "/books/new">Ajouter publication</button>
<ul class="list-group">
         <app-book *ngFor= "let book of books; let i = index"
                [title]= "book.title"
                [pseudo]= "book.pseudo"
                [date]= "book.date"
                [Like]= "book.Like"
                [comment]= "book.comment"
                [description]= "book.description"
                [location]= "book.location"
                [id] = "i">

         </app-book>
</ul>
